/*@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,700);*/
[data-notify="container"][class*="alert-"]{
		background-color: rgb(255, 255, 255);
		border-width: 0px;
		border-left: 15px solid /*rgb(103,161,255)*/;
		border-radius: 3px;
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.3);
		/*letter-spacing: 1px;*/
		font-size: 20px;
}
@media(max-width:576px){
[data-notify="container"]{
		background-color: rgb(255, 255, 255);
		border-width: 0px;
		border-left: 15px solid #6eabc2;
		border-radius: 3px;
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.3);/*
		letter-spacing: 1px;*/
		font-size: 20px;
		font-weight: 700;
		left: 1rem;
	}
}

[data-notify="container"][class*="alert-pastel-"] {
	background-color: rgb(255, 255, 255);
	border-width: 0px;
	border-left: 15px solid rgb(255, 240, 106);
	border-radius: 3px;
	box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.3);
	letter-spacing: 1px;
	left: 1.5rem;

}
[data-notify="container"].alert-success {
	border-left-color: rgb(3, 175, 12);
}
[data-notify="container"].alert-info {
	border-left-color: rgb(255, 179, 40);
}
[data-notify="container"].alert-danger {
	border-left-color: rgb(255, 103, 76);
}
[data-notify="container"][class*="alert-pastel-"] > [data-notify="title"] {
	color: rgb(80, 80, 57);
	display: block;
	font-weight: 700;
	margin-bottom: 5px;
}
[data-notify="container"][class*="alert-pastel-"] > [data-notify="message"] {
	font-weight: 400;
	font-size: 20px;
}

.form-check {
	position: relative;
	display: block;
	padding-left: 2rem;
}
